<%= render "shared/nav" %>

<h1>Welcome!</h1>

<p id="notice"><%= notice %></p>

<%= image_tag("entree.jpg", :size => "400x400") %> <%= image_tag("appetizer.jpg", :size => "400x400") %>

<br>
©2012 The Starter Grill, Inc. All rights reversed. Got a comment? Keep it to yourself!

